body {
    margin: 10;
    padding: 10;
  }

H2{
    text-align: center;
}

.pageWrapper {
    flex-direction: column;
    display: flex;
}
/* .heroListItem{
    display: flex;
} */
.heroLiSpan {
    display: flex;
    justify-content: space-around;
}

.containerButton {
    margin-top: 200px;
    display: flex;
    border: 3px solid green;
    justify-content: center;
  }
  
.heroWinrateSpan {
    float: right;
}

.containerWinner {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}



.column{
    float: left;
    width: 50%;
    background-color:lightcoral
}

.heroList{
    font-size: 20px;
    list-style-type: none;

}

.heroListItem{
    background-color: lightblue
}

