body {
    font-family: Arial, Helvetica, sans-serif;
}

H2{
    text-align: center;
}

.pageWrapper {
    flex-direction: column;
    display: flex;
}


.heroLiSpan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
}

.containerButton {
    margin-top: 5%;
    padding: 2.5%;
    display: flex;
    border: 3px solid rgb(128, 0, 0);
    justify-content: center;
  }
  
.heroWinrateSpan {
    float: right;
}

#containerWinner {
    min-height: 34px;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}


#listWrapper{
    min-height: 175px;

}

.column{
    float: left;
    width: 50%;
    background-color:rgb(255, 255, 255);
}

.heroList{
    font-size: 20px;
    list-style-type: none;
    padding:10px;
    margin: 5px;
}

.heroListItem{
    background-color: rgb(230, 230, 230);
    margin: 5px;
    list-style-position:inside;
    border-radius: 5px
}

#teamDiv {
    text-align: center;

}